<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <nav th:fragment="navigator" id="sidebar-wrapper">
            <ul>
                <li>
                    <a href="#">
                        卖家管理系统
                    </a>
                </li>
                <li>
                    <a href="/sell/seller/order/list"><i></i> 订单</a>
                </li>
                <li>
                    <a href="#"></span></a>
                    <ul>
                        <li>操作</li>
                        <li><a href="/sell/seller/product/list">列表</a></li>
                        <li><a href="/sell/seller/product/index">新增</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"></span></a>
                    <ul>
                        <li>操作</li>
                        <li><a href="/sell/seller/category/list">列表</a></li>
                        <li><a href="/sell/seller/category/index">新增</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/sell/seller/user/logout"><i></i> 登出</a>
                </li>
            </ul>
        </nav>
    </body>
</html>