<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="~{common/header :: header}">
    </head>

    <body>
        <nav th:replace="~{common/navigator :: navigator}"></nav>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-condensed table-bproducted">
                        <thead>
                            <tr>
                                <th>商品id</th>
                                <th>名称</th>
                                <th>图片</th>
                                <th>单价</th>
                                <th>库存</th>
                                <th>描述</th>
                                <th>类目</th>
                                <th>创建时间</th>
                                <th>修改时间</th>
                                <th colspan="2">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${productPage.content}">
                                <td th:text="${product.id}">商品id</td>
                                <td th:text="${product.name}">名称</td>
                                <td th:text="${product.icon}">图片</td>
                                <td th:text="${product.price}">单价</td>
                                <td th:text="${product.stock}">库存</td>
                                <td th:text="${product.description}">描述</td>
                                <td th:text="${product.categoryType}">类目</td>
                                <td th:text="${product.createTime}">创建时间</td>
                                <td th:text="${product.updateTime}">修改时间</td>
                                <td><a th:href="@{${url} + '/index'(productId=${product.id})}">修改</a></td>
                                <td><a th:href="@{${url} + (${product.getStatusByCode(product.status)}.msg eq '下架'? '/onsale' : '/offsale')(productId=${product.id})}" th:text="${product.getStatusByCode(product.status)}.msg eq '下架'? '上架' : '下架'">上架</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination" >
                        <li th:class="${productPage.getNumber()} + 1 eq 1? 'disabled' : 'active'">
                            <a href="#" th:href="${productPage.getNumber()} + 1 eq 1? @{#} : @{${url} + '/list'(page=${productPage.getNumber()},size=${productPage.size})}">Prev</a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(1,productPage.getTotalPages())}" th:class="${productPage.getNumber()} + 1 eq ${page}? 'disabled' : 'active'">
                            <a href="#" th:href="${productPage.getNumber()} + 1 eq ${page}? @{#} : @{${url} + 'list'(page=${page},size=${productPage.size})}" th:text="${page}">1</a>
                        </li>
                        <li th:class="${productPage.getNumber()} + 1 eq ${productPage.getTotalPages()}? 'disabled' : 'active'">
                            <a href="#" th:href="${productPage.getNumber()} + 1 eq ${productPage.getTotalPages()}? @{#} : @{${url} + 'list'(page=${productPage.getNumber() + 2},size=${productPage.size})}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>